:root{
    /* 
        * COLORES
    */
    --color-principal: #6386E7;
    --color-principal-light: #6F90E6;
    --color-principal-dark: #4063CD;

    --color-product-1: #ECE9F0;
    --color-product-2: #F7E6D7;
    --color-product-3: #D3EAE7;
    --color-product-4: #E4D1ED;
    --color-product-5: #EBD3D6;
    --color-product-6: #D0D7ED;
    --color-body: #D5DEFA;
    --color-icon: #FFE4A9;

    --color-favourite-1: #C3B38F;
    --color-favourite-2: #7688AF;
    --color-favourite-3: #CC8893;
    --color-favourite-4: #514E54;

    --light: #fff;
    --light-intermedium: #D5D5D7;
    --light-opaque: #EEECF8;
    --light-dark: #969699;
    --dark: #000;
    --dark-light: #3A373C;
    /* 
        * FUENTES
    */
    --fuente-principal: "Raleway", sans-serif;

    /* 
        * TAMAÑOS
    */
    --size-radius-categories: .5rem;
    --size-radius-products: 1.2rem;
    --size-bar-menu: 4rem;
    --size-bar-menu-radius: 1rem;
}
/* 
    * GENERALES
*/
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font: normal normal 1.6rem var(--fuente-principal);
    background: var(--color-body);
}
a{
    text-decoration: none;
    color: var(--dark);
}
ul{
    list-style: none;
}
/* 
    * UTILITARIOS
*/
.text-center{
    text-align: center;
}
/* 
    * SEE MORE
*/
.see-more{
    color: var(--color-principal);
    font-weight: 700;
}
/* 
    * BAR MENU
*/
.bar-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    width: var(--size-bar-menu);
    height: var(--size-bar-menu);
    background: var(--color-principal);
    border-radius: var(--size-bar-menu-radius);
}
.bar-menu::before,
.bar-menu::after{
    content: '';
    display: block;
    background: var(--light);
    height: 0.2rem;
    margin-left: 1.5rem;
}
.bar-menu::before{
    width: 15%;
    margin-bottom: .5rem;
}
.bar-menu__center-bar{
    height: 0.2rem;
    background: var(--light);
    margin-bottom: .5rem;
    width: 30%;
    margin-left: 1.5rem;
}
.bar-menu::after{
    width: 10%;
}

/* 
    * STORE
*/
.content-store{
    max-width: 192rem;
    width: 90%;
    margin: 0 auto;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 65% 30%;
    grid-column-gap: 4rem;
    padding: 2rem;
    background: var(--light);
    border-radius: var(--size-radius-categories);
}
.store{
}
/* 
   * STORE HEADER
*/
.store__header{
    display: grid;
    justify-content: space-between;
    grid-template: 5rem / 20% minmax(35rem, 50%);
}
.store__brand{
    display: flex; 
    justify-content: start;
    align-items: center;
}
.store__logo{
    color: var(--color-principal);
    font-weight: 900;
    font-size: 2.4rem;
    margin-left: 2rem;
}
.store__search{
    display: flex;
    align-items: center;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
    border-radius: 1.5rem;
}
.store__categories{
    margin: 0rem 4rem;
}
.store__search-input{
    position: relative;
}
.store__icon-search{
    position: absolute;
    color: var(--light-intermedium);
    --light-dark: 
    left: 0.5rem;
    top: 0.3rem
}
.store__input-search{
    border: none;
    padding-left: 3rem;
    width: 100%;
}
.store__input-search:focus{
    outline: 0;
}
/* 
   * STORE PRODUCTS
*/
.store__products{
    display: grid;
    grid-template: auto auto / 25% 1fr 0.5fr 0.5fr 30%;
    grid-gap: 2rem;
    margin-bottom: 8rem;
}
.store__header-products{
    grid-column: 1 / 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.store__product{
    border-radius: var(--size-radius-products);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.store__product-1{
    grid-row: 2 / 4;
    background: var(--color-product-1);
}
.store__product-2{
    background: var(--color-product-2);
}
.store__product-3{
    grid-column: 3 / 5;
    background: var(--color-product-3);
}
.store__product-4{
    background: var(--color-product-4);
}
.store__product-5{
    grid-column: 2 / 4;
    background: var(--color-product-5);
}
.store__product-6{
    grid-column: 4 / 6;
    background: var(--color-product-6);
}
.store__product-image{
    width: 100%;
    height: 100%;
    border-radius: var(--size-radius-products);
    object-fit: cover;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.store__content-data-product{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.store__product-name{
    display: inline-block;
    margin: 0 2rem
}
.store__price{
    color: var(--light-dark);
}
.store__add-product{
    background: var(--light);
    height: 5.1rem;
    width: 5.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--size-radius-products) 0 var(--size-radius-products) 0;
    box-shadow: 3px 4px 20px rgba(0, 0, 0, .15);
}

/* 
    * STORE FAVOURITES
*/
.store__favourites{
    display: grid;
    grid-template: 10rem 1fr / repeat(4, 1fr);
    grid-column-gap: 3rem;
}
.store__header-favourites{
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.store__favourite{
    color: var(--light-intermedium);
    font-weight: 700;
    margin-right: 2rem;
    cursor: pointer;
}
.store__favourite:last-child{
    margin-right: 0;
}
.store__favourite--active{
    color: var(--color-principal);
}

.store__favourite-product{
    border-radius: var(--size-radius-products);
    box-shadow: 3px 4px 20px rgba(0, 0, 0, .15);
}

.store__favourite-content-models{
    position: relative;
    background: var(--light-opaque);
    height: 15rem;
    border-radius: var(--size-radius-products);
}
.store__favourite-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--size-radius-products) var(--size-radius-products) 0 0;
    display: inline-block;
}
.store__favourite-models{
    position: absolute;
    top: calc(100% - .95rem);
    left: 10%;
}
.store__favourite-models span{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
}
.store__favourite-models span:nth-child(1){background:var(--color-favourite-1);}
.store__favourite-models span:nth-child(2){background:var(--color-favourite-2);}
.store__favourite-models span:nth-child(3){background:var(--color-favourite-3);}
.store__favourite-models span:nth-child(4){background:var(--color-favourite-4);}

.store__favourite-data{
    background: var(--light);
    border-radius: var(--size-radius-products);
    padding: 0 2rem 1.5rem;
}
.store__favourite-name{
    text-shadow: 0 0 0 rgba(0, 0, 0, 1);
}
.store__favourite-price{
    font-size: 1.4rem;
    font-weight: 700;
}
/* 
    * CART
*/
.cart{
    background: var(--color-principal);
    border-radius: var(--size-radius-products);
}