:root{
    /* 
        COLORES
    */
    
    /* 
        FUENTES
    */
    --fuente-principal: "Raleway", sans-serif;
}
/* 
    GENERALES
*/
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font: normal normal 1.6rem var(--fuente-principal);
}
a{
    text-decoration: none;
    color: var(--dark);
}
ul{
    list-style: none;
}
/* 
    UTILITARIOS
*/
.text-center{
    text-align: center;
}

/* 
    OTHERS
*/
